
img {width: 500px; max-width:100%; }

body {max-width: 1000px; margin: auto; background-color: purple; text-align: center; }  

div {  background-color: #CC99FF; }



h1 {text-align: center; font-family: verdana, sans-serif; color: purple; }

h2 {text-align: center; font-family: Arial, sans-serif; color: blue; }

ul {font-family: verdana, sans-serif; text-align: left; }

	p {text-align: left; width: 900px; max-width:100%; }
	
ol {font-family: verdana, sans-serif; text-align: left; }

header {.hienompi {background-color: #CCFFCC; }

footer {text-align: center; font-family: verdana, sans-serif; color: purple }

aside {text-align: right; font-family: verdana, sans-serif; color:pink}