
img {width: 500px; max-width:100%; }

body {max-width: 1000px; margin: auto; background-color: purple; text-align: center; }  

section {  background-color: #CC99FF; }


h1 {text-align: center; font-family: verdana, sans-serif; color: purple; }

h2 {text-align: center; font-family: Arial, sans-serif; color: blue; }

ul {font-family: verdana, sans-serif; text-align: left; }

	p {text-align: left; width: 900px; max-width:100%; }
	
ol {font-family: verdana, sans-serif; text-align: left; }

header {.hienompi {background-color: #CCFFCC; width: 100%;}}

footer >p {text-align: center; font-family: verdana, sans-serif; color: rgb(113, 139, 18) }

aside {text-align: float; font-family: verdana, sans-serif; color:pink}

nav >p {background-color:aqua; text-align: center; font-family: verdana, sans-serif; color: rgb(127, 82, 131); width: 100%;}

figure >img {border: 5px solid #4333d4}
