

h1 {color: #dccfec; font-family: 'Playfair Display', serif;}



.btn {color: #f3ddce;
background-color: #385f71;}

/*font-family: 'Playfair Display', serif;
font-family: 'Raleway', sans-serif; */

body {background-color:#896978;}


h4 {color: #561d72; font-family: 'Playfair Display', serif;}

.card {background-color:#f3ddce;}

p {font-family: 'Raleway', sans-serif;}
li {font-family: 'Raleway', sans-serif; color: #090c02;}

footer {font-family: 'Raleway', sans-serif;}



/*; #CAC2BA*/